.layout {
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    grid-template-rows: 1fr 9fr;
    height: 100vh;
    grid-template-areas: 
        ". header header ."
        ". main main ."
    ;
    @media only screen and( min-width: 425px) {
        grid-template-rows: 1fr 1fr 1fr;
    }
}
// CommonLayout styles
.main {
    grid-area: main;
}